# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# Generated
.metadata
*.iml
*.ipr
*.iws

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Coverage
coverage/

# Symbols
*.dSYM/
